In [2]:
conda install -c conda-forge tensorflow

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: \ ^C
-
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
# read data from csv
df = pd.read_csv('data/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
X = df.drop(labels=['CustomerId', 'Surname', 'RowNumber', 'Exited'], axis = 1)
y = df['Exited']
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
# one hot endcoding 
X = pd.get_dummies(X, columns=['Geography', 'Gender'])
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [9]:
# scale data 

from sklearn.preprocessing import StandardScaler

# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify = y)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
X_train

array([[-1.24021723,  0.77986083,  0.35390313, ..., -0.57504086,
         1.09665089, -1.09665089],
       [ 0.75974873, -0.27382717,  0.35390313, ..., -0.57504086,
        -0.91186722,  0.91186722],
       [-1.72725557, -0.9443559 , -0.3390904 , ..., -0.57504086,
         1.09665089, -1.09665089],
       ...,
       [-0.51484098,  0.87565065,  1.39339343, ..., -0.57504086,
        -0.91186722,  0.91186722],
       [ 0.73902369, -0.36961699, -1.03208393, ..., -0.57504086,
         1.09665089, -1.09665089],
       [ 0.95663657, -1.32751517,  0.35390313, ...,  1.73900686,
        -0.91186722,  0.91186722]])

In [13]:
X_train.shape

(8000, 13)

In [14]:
X.shape[1]

13

In [16]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential, Model
from tensorflow.keras.layers import Dense, Input

In [17]:
#  stack of layers where each layer has exactly one input tensor and one output tensor
model = Sequential()

#eply connected neural network layer
model.add(Dense(1000, activation='relu', input_dim = X.shape[1]))
model.add(Dense(1000, activation='relu'))
model.add(Dense(1000, activation="relu"))
model.add(Dense(1000, activation="relu"))
model.add(Dense(1000, activation="relu"))
model.add(Dense(500, activation="relu"))

model.add(Dense(1, activation = 'sigmoid'))

2022-01-09 18:55:23.234406: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [20]:
%%time
model.compile(
    optimizer='adam', 
    loss = 'binary_crossentropy',
    metrics=['accuracy']
)

CPU times: user 4.52 ms, sys: 336 Âµs, total: 4.85 ms
Wall time: 4.87 ms

In [21]:
%%time
model.fit(X_train, y_train.to_numpy(), batch_size = 20, epochs = 12, verbose = 1)

Epoch 1/12
400/400 [==============================] - 15s 35ms/step - loss: 0.4223 - accuracy: 0.8281
Epoch 2/12
400/400 [==============================] - 14s 34ms/step - loss: 0.3689 - accuracy: 0.8533
Epoch 3/12
400/400 [==============================] - 15s 37ms/step - loss: 0.3592 - accuracy: 0.8565
Epoch 4/12
400/400 [==============================] - 14s 35ms/step - loss: 0.3463 - accuracy: 0.8568
Epoch 5/12
400/400 [==============================] - 14s 35ms/step - loss: 0.3482 - accuracy: 0.8553
Epoch 6/12
400/400 [==============================] - 14s 34ms/step - loss: 0.3397 - accuracy: 0.8612
Epoch 7/12
400/400 [==============================] - 13s 34ms/step - loss: 0.3384 - accuracy: 0.8585
Epoch 8/12
400/400 [==============================] - 14s 34ms/step - loss: 0.3294 - accuracy: 0.8637
Epoch 9/12
400/400 [==============================] - 14s 34ms/step - loss: 0.3268 - accuracy: 0.8665
Epoch 10/12
400/400 [==============================] - 13s 32ms/step - loss: 0.3229 - accuracy: 0.8666
Epoch 11/12
400/400 [==============================] - 13s 31ms/step - loss: 0.3197 - accuracy: 0.8677
Epoch 12/12
400/400 [==============================] - 13s 32ms/step - loss: 0.3165 - accuracy: 0.8679
CPU times: user 7min 12s, sys: 44.9 s, total: 7min 57s
Wall time: 2min 43s

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 1000)              14000

 dense_1 (Dense)             (None, 1000)              1001000

 dense_2 (Dense)             (None, 1000)              1001000

 dense_3 (Dense)             (None, 1000)              1001000

 dense_4 (Dense)             (None, 1000)              1001000

 dense_5 (Dense)             (None, 500)               500500

 dense_6 (Dense)             (None, 1)                 501

=================================================================
Total params: 4,519,001
Trainable params: 4,519,001
Non-trainable params: 0
_________________________________________________________________

In [27]:
### Predict
y_pred = model.predict(X_test)

In [28]:
# sklearn - model.score(features, labels)
model.evaluate(X_test, y_test.to_numpy())

63/63 [==============================] - 1s 9ms/step - loss: 0.3684 - accuracy: 0.8540

[0.368352472782135, 0.8539999723434448]

In [29]:
y_pred = y_test.to_numpy()

In [32]:
model.save('my_model')

INFO:tensorflow:Assets written to: my_model/assets

In [33]:
new_model = tf.keras.models.load_model('my_model')

In [34]:
pred=new_model.predict(X_test)
pred

array([[0.04491526],
       [0.18083951],
       [0.01191059],
       ...,
       [0.00649369],
       [1.        ],
       [0.09281856]], dtype=float32)

# vs RandomForest

In [36]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

clf = RandomForestClassifier()
clf.fit(X_train, y_train)

# Make predictions
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.8625

In [ ]:
RF =86
NN =85